@font-face {
    font-family: "Freigeist";
    src: local ("Freigeist"),
    url("../assets/font/Freigeist-Medium.woff2") format("woff2"),
    url("../assets/font/Freigeist-Medium.woff") format("woff");
    
}

@font-face {
    font-family: "Freigeist";
    src: local ("Freigeist"),
    url("../assets/font/Freigeist-Bold.woff2") format("woff2"),
    url("../assets/font/Freigeist-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Freigeist";
    src: local ("Freigeist"),
    url("../assets/font/Freigeist-MediumItalic.woff2") format("woff2"),
    url("../assets/font/Freigeist-MediumItalic.woff") format("woff");
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Freigeist", "Arial", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #F7F1E3;
    font-size: 3.6rem;
    color: #002432;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #002432;
    font-style: italic;
}

button {
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;  
}

/* шапка */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100px;
    padding: 15px 90px;
    gap: 50px;
}

.header_sections {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;

}

.header_sections-item {
    display: block;
    font-size: 34px; 
}

.header_socials {
    display: flex;
    gap: 0.6em; 
}

.header_socials-item svg:hover {
    fill: #576574;
}


.header_sections-item {
    font-style: normal;
}

.header_sections-item:hover {
    color: #576574;
}




/* главная */
.greetings {
    display: flex;
    justify-content: space-between;
    height: 88vh;
    background-color: #002432;
    color: #F7F1E3;
}

.greetings_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    width: 50%;
    height: 100%;
    margin-left: 5vw;
    padding: 5vw;
}

.greetings_header {
    font-size: 7rem;
    text-align: center;
}

.greetings_description {
    font-size: 5rem;
    text-align: center;
}

.greetings_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-right: 5vw;
}

.greetings_img {
    display: block;
    border: solid 1rem;
    border-radius: 10%;
    width: 65%;
}

/* обо мне */
.about {
    position: relative;
    height: 100vh;
    background-image: 
    url("../assets/images/grafics/scope__1.svg"),
    url("../assets/images/grafics/scope__2.svg"),
    url("../assets/images/grafics/scope__3.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    /* background-size: 40%, 45%, 45%; */
    background-position: 0 -10%, -5% 250%, 100% 140%;
    transform: none, rotate(180deg), none;
}

.about_header {
    display: block;
    padding-top: 3rem;
    padding-right: 35rem;
    text-align: right;
}

.about_item {
    display: block;
    position: absolute;
    color: #F7F1E3;
    text-align: center;
    font-size: 36px;
}
#first {
    width: 240px;
    top: 50px; 
    left: 200px;
}

#second {
    width: 330px;
    top: 300px;
    left: 950px;
}

#third {
    width: 330px;
    top: 450px;
    left: 90px;
    font-size: 34px;
}


/* опыт */
.experience {
    height: 100vh;
    background-color: #EE7828;
    color: #002432;
    padding: 30px; 
}

.experience h2 {
    width: fit-content;
    margin: 0 auto 40px auto;
}

.experience_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 30px;
}

.experience_list {
    display: grid;
    grid-template-columns: 80px;
    gap: 15px;
}
.experience_list-item {
    width: 90px;
    height: 70px;
    appearance: none;
    border: solid 3px transparent;
    border-radius: 15px;
    background: #002432;
    color: #F7F1E3;
    padding: 5px;
    font-size: 32px;
}
.experience_list-item:hover {
    border: solid 3px #F7F1E3;
}

.experience_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002432;
    color: #F7F1E3;
    border-radius: 20px;
    width: 60%;
    height: auto;
    padding: 25px 40px; 
    font-size: 28px;
}

.experience_screen h3 {
    margin-bottom: 50px;
    font-size: 44px;
} 

.experience_screen-text {
    text-align: center;
}

.experience_screen-link  div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-top: 30px;
    padding: 12px;
    background-color: #F7F1E3;
    border-radius: 40px;
    color: #002432;
    font-size: 24px;
}


/* навыки */
.skills {
    height: 100vh;
    color: #002432;
}

.skills_list {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 30px;
    margin: auto;
    padding: 30px;
}

.skills_list-item div {
    min-height: 220px;
    border: 3px solid #002432;
    border-left: 50px solid #002432;
    border-radius: 15px;
}

/* подвал */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100px;
    padding: 0.5em 2em;
    background-color: #002432;
    color: #F7F1E3;
}

.footer_socials_list {
    display: flex;
    gap: 0.6em;
}


.footer_socials_list-item svg:hover {
    fill: #8a897c;
}